table {
  width: 100%;
}

.tabela {
  width: 85%;
  margin: 0 auto;
}

mat-form-field {
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 10px;
}

/* td:hover {
  transform: scale(1.1);
} */

.materia {
  width: fit-content;
}

.button-action {
  cursor: pointer;
  background-color: white;
  border: 0;
}

.delete-button {
  margin-left: 2px;
}
