<mat-grid-list cols="2" rowHeight="700px">
  <mat-grid-tile class="tile-img">
    <img src="assets/img1.png" alt="Imagem" class="img-login">
  </mat-grid-tile>
  
  <mat-grid-tile class="tile-form">
    <mat-form-field appearance="outline" class="form">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
